body{
    font-family: "Be Vietnam Pro", sans-serif;
}

.color_primary{
    color: #D9302C;
}

.color_primary:hover{
    color: #D9302C !important;
}

.bg_color_primary1{
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
}

.bg_color_primary2{
    background-color: #ec9795;
}

.bg_color_primary3{
    background-color: #D9302C1A;
}

.bg_color_btn_update{
    border: 1px solid #34C759;
    background-color: #EBF9EE;
    height: 30px
}

.header_notification_number{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100px;
    border: solid 1px #ffffff;
    background-color: #D9302C;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    width: 14px;
    height: 14px;
    color: #ffffff;
}

.bg_list_item{
    background-color: #ffffff;
    box-shadow: 0px 0px 6px -2px #10182805;
    box-shadow: 0px 0px 12px -4px #1018280A;
}

.bg_btn_help{
    border: 2px solid #EC692D59;
    font-size: 14px;
    color: #444444;
    cursor: pointer;
    background-color: #ffffff;
    right: 32px;
    bottom: 36px;
}

.bg_login_left, .bg_login_right{
    padding: 50px;
    height: 1040px;
}

.bg_login_left{
    background-color: #EAA23FB2;
}

.bg_login_right{
    background-color: #F9FAFB;
    
}

.bg_boc{
    background-color: #F9FAFB;
}

.bg_popup_login{
    padding: 40px ;
    border-radius: 36px;
    top: 15% !important;
    left: 33%;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px -4px #10182808;
    box-shadow: 0px 0px 24px -4px #10182814;
}

.bg_popup_signup{
    top: 16% !important;
}

.bg_popup_checkotp{
    padding: 40px ;
    border-radius: 36px;
    top: 30%;
    left: 33%;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px -4px #10182808;
    box-shadow: 0px 0px 24px -4px #10182814;
}

.img_loginLogo{
    width: 85px;
    height: auto;
}

.img_login_left{
    top: 255px;
    right: 30%;
    >img{
        width: 80%;
        height: auto;
    }
}

.img_login_right{
    top: 297px;
    left: 40%;
    >img{
        width: 100%;
        height: auto;
    }
}

.line_login{
    width: 865px;
    height: 1px;
    background-color: #2C2216;
    top: 50%;
    left: 210px;
}

.btn_login3{
    padding: 15px 0;
    background-color: #F6F6F6;
}

.btn_show{
    bottom: 80px;
    background-color: transparent !important;
}

.border_bot_custom{
    border-bottom: 0.5px solid #EAECF0;
}

.custom_text1{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #333333;
}

.custom_text2{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #B6B6B6;
}

.custom_text3{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #34C759;
}

.custom_text4{
    font-size: 12px;
    line-height: 10px;
    text-align: left;
    color: #444444;
}

.custom_text5{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #34C759;
}

.custom_text6{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #B6B6B6;
}

.custom_text7{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #333333;
}

.custom_text8{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.custom_text9{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.custom_text10{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #B6B6B6;
    max-width: 155px;
}

.custom_text11{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #444444;
}

.custom_text12{
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    color: #444444;
}

.custom_text13{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #444444;
    min-width: 8px;
}

.custom_text14{
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    color: #333333;
}

.custom_text15{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #444444;
}

.custom_text16{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #444444;
}

.custom_text17{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 12px 14px;
    color: #EC692D;
}

.custom_text18{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #D9302C;
}

.custom_text19{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #444444;
}

.custom_text20{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #444444;
}

.custom_text21{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    color: #444444;
    min-width: 60px
}

.custom_text22{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}

.custom_text23{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #333333;
}

.custom_text24{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #444444;
}

.custom_text25{
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #EC692D;
}

.custom_text26{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #B6B6B6;
    min-width: 155px;
}

.custom_text27{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #B6B6B6;
}

.custom_text28{
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
    color: #FF3B30;
    width: 300px;
    text-align: right;
}

.custom_text29{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #D9302C;
}

.custom_text30{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    color: #444444;
}

.custom_text31{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #444444;
}

.custom_text32{
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #FF3B30;
}

.custom_text33{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #333333;
}

.custom_text34{
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    color: #444444;
}

.custom_text35{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #EC692D;
}

.custom_text36{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #D9302C;
}

.custom_text37{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #EC692D;
}

.custom_text38{
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #333333;
}

.custom_text39{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.custom_text40{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

.custom_text_input{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #444444;
}

.img_logoEarn{
    width: 45px;
    height: auto;
}

.img_logoAdd{
    width: 39px;
    height: auto;
}

.input_login{
    padding: 17px 24px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #444444
}

a{
    text-decoration: none !important;
}

.cb_ok {
    position: absolute;  
    opacity: 0;         
    cursor: pointer;     
}


.custom-checkbox {
    display: flex;      
    align-items: center; 
    position: relative;  
}

.checkmark {
    display: block;               
    width: 20px;               
    height: 20px;                 
    background-color: #fff;     
    border-radius: 4px;          
    position: relative;      
    border: 1px solid #444444;   
    transition: background-color 0.3s; 
}

.cb_ok:checked + .checkmark {
    background-color: #D9302C;  
    border: 0px solid #444444;  
}

.cb_ok:checked + .checkmark::after {
    content: '';                
    position: absolute;          
    left: 7px;                    
    top: 3px;                
    width: 6px;                  
    height: 12px;               
    border: solid white;         
    border-width: 0 2px 2px 0;   
    transform: rotate(45deg);     
}
.checkmark {
    width: 20px;                 
    height: 20px;               
}

.text_click{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
}

.text_no_wrap{
    white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis;
    max-width: 100%;
}

.h-60{
    height: 60px;
}

.img_hide_pass{
    right: 24px;
    top: 20px;
}

.img_cb_arrow{
    right: 30px;
    top: 20px;
}

.btn_chosse{
    padding: 4px 10px !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.bg_custom1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(22, 25, 29, 0) 50%, rgba(22, 25, 29, 0.6) 65.85%, #16191D 93.43%);
}

.bg_custom2{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #A7B2BE;
    cursor: pointer;
}

.text_custom_qc{
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.bg_custom3{
    background-color: #34C7591A;
    border-radius: 100px;
    height: 6px;
    width: 100%;
}

.bg_custom4{
    background-color: #34C759;
    border-radius: 100px;
    height: 6px;
    width: 50%;
}

.bg_custom_reduce{
    background-color: #EC692D59;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_custom_increase{
    background-color: #8fe0a4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cb_chosse{
    padding: 10px 14px;
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    border: 1px solid #EAECF0;
    border-radius: 12px;
    width: 350px;
}

.cb_chosse1{
    padding: 10px 14px;
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    border: 1px solid #EAECF0;
    border-radius: 12px;
    width: 350px;
    height: 122px;
}

.cb_point{
    padding: 10px 14px;
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
    border: 1px solid #EAECF0;
    border-radius: 12px;
    width: 175px;
}

.cb_listSpeed{
    width: 350px;
    height: 8px;
    background-color: #D9302C1A;
    border-radius: 100px;
}

.cb_listSpeed1{
    width: 350px;
}

.item_listSpeed{
    width: 50%;
    height: 8px;
    background-color: #D9302C;
    border-radius: 100px;
}

.ic_rocket{
    width: 10px;
    height: 10px;
}

.ic_rocket1{
    width: 14px;
    height: 14px;
}


.container{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px;
}

.container_body{
    max-width: 1440px !important;
}

.container_full{
    max-width: 100% !important;
}

.container_login{
    max-width: 1440px !important;
    max-height: 1280px;
}

.container_header{
    padding: 15px 32px !important;
}

.mr-0{
    margin: 0;
}

#navbarNav{
    flex-basis: auto;
}

.img_profile, .img_profile_header{
    width: 42px;
    height: 42px;
}

.img_profile_header{
    border-radius: 4px !important;
}

.img_qc{
    width: 100%;
    height: auto;
}

.img_custom1{
    width: 24px;
    height: 24px;
}

.img_custom2{
    width: 10px;
    height: 10px;
}

.img_custom3{
    width: 28px;
    height: 28px;
}

.text_custom1{
    min-width: 9px
}

.pointer{
    cursor: pointer;
}

.font_12{
    font-size: 12px;
}

.bg_nav_bot{
    bottom: 0;
    background-color: #ffffff;
}

.img_custom_bot{
    width: 26px;
    height: 26px;
}

.boder_nav_bot{
    border-top: 2px solid #D9302C;
}

.div_click{
    margin-right: 12px;
}

.bg_list_right{
    gap: 12px;
}

.list_point{
    gap: 8px !important;
}

.mb_auto{
    margin-bottom: 100px !important;
}

.mb_auto1{
    margin-bottom: 120px !important;
}

.bg_content_point{
    max-width: 734px;
    margin: 0 auto;
}

.bg_content_point_bot{
    max-width: 886px;
    margin: 0 auto;
}

.bg_content_add{
    max-width: 790px;
    margin: 0 auto;
}


.bg_custom5{
    background-color: #EAA23F;
    width: 5px;
}

.bg_custom6{
    padding: 6px 12px;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    background-color: #EAA23F26;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #EC692D;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bg_custom7{
    border: 1px dashed #EC692D;
    gap: 10px;
    border-radius: 12px;
}

.bg_custom8{
    padding: 12px 24px;
    gap: 8px;
    border-radius: 10px;
    border: 4px;
    background-color: #D9302C;
    border: 4px solid #D9302C4D;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.bg_custom9{
    padding: 10px 16px;
    gap: 8px;
    border-radius: 10px;
    border: 1px;
    background-color: #ffffff;
    border: 1px solid #D9302C;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #D9302C;
}

.bg_custom10{
    max-width: 580px;
}

.bg_custom11{
    padding: 10px 12px;
    border-radius: 10px;
    background-color: #B6B6B6;
}

.bg_custom12{
    width: 350px;
}

.bg_custom11{
    max-width: 100%;
}

.bg_custom_login{
    border-radius: 10px;
    background-color: #D9302C;
    padding: 15px 0px;
}

.mb_120{
    margin-bottom: 120px !important;
}

.bg_custom_bot_hide{
    padding: 10px 16px;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0,15;
    border: 1px solid #444444;
    cursor: pointer;
}

.bg_custom_bot_show{
    padding: 10px 16px;
    gap: 8px;
    background-color: #D9302C;
    border-radius: 10px;
    cursor: pointer;

    >img{
        width: 8px;
        height: 20px;
    }
}

.gap_12{
    gap: 12px;
}

.gap_10{
    gap: 10px;
}

.list_point_bot{
    >img{
        width: 8px;
        height: 8px;
    }
}

.btn_loginGG{
    flex-grow: 1;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .bg_popup_login{
        top: calc(50% - 280px);
        left: 4.1%;
        padding: 32px 16px;
    }
    .container_login{
        max-width: 1440px !important;
        max-height: none;
        height: auto;
    }
    .bg_login_left{
        padding: 32px;
    }
    .custom_text38{
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
    }
}

@media screen and (max-width: 1025px) {
    .list_point{
        gap: 2px !important;
    }
    .img_close{
        width: 20px !important;
    }
}

@media screen and (max-width: 991px) {
    .header_notification_number{
        right: 0px;
    }
    .bg_btn_help{
        border-radius: 50% !important;
        bottom: 76px;
    }
    .text_custom_qc{
        font-size: 20px;
        bottom: 32px;
    }
    .text_click{
        font-size: 24px;
    }
    .img_click{
        width: 36px;
        height: 36px;
    }
    .img_profile_header{
        width:42px;
        height: 42px;
        border-radius: 4px !important;
    }
    .bg_num_coin{
        padding: 2px 12px !important;
    }
    .div_click{
        margin-right: 12px !important;
    }
    .div_left_menu{
        gap: 12px;
    }
    .custom_text26{
        max-width: 235px;
    }
    .cb_point{
        width: 350px;
    }
}

@media screen and (max-width: 769px) {
    .header_notification_number{
        right: -5px;
    }
    .container_header{
        padding: 22px 16px !important;
    }
    .list_point{
        gap: 4px;
    }
    .div_click{
        margin-right: 12px !important;
    }
    .custom_text8{
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
    }
    .img_click{
        width: 30px;
        height: 30px;
    }
    .text_custom_qc{
        font-size: 16px;
        bottom: 20px;
    }
    .img_profile_header{
        width:24px;
        height: 24px;
        border-radius: 4px !important;
    }
    .img_coin_header{
        width: 14px;
        height: 14px;
    }
    .text_click{
        font-size: 16px;
    }
    .img_logo{
        height: 24px;
        width: auto;
    }

    .img_close{
        width: 40px !important;
    }
    .custom_text14{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        color: #333333;
    }
    .bg_custom6{
        font-size: 14px;
    }
    .custom_text15{
        font-size: 14px;
    }
    .custom_text23{
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        color: #333333;
    }

    .cb_mobile{
        width: 20px !important;
        height: 20px;
    }
}

@media screen and (max-width: 480px) {
    .text_click{
        font-size: 14px;
    }
    .img_click{
        width: 24px;
        height: 24px;
    }
    .text_custom_qc{
        font-size: 12px;
        bottom: 16px;
    }
    .navbar-toggler-icon{
        width: 1.25em;
        height: 1.25em;
    }
    .navbar-nav{
        gap: 12px !important;
    }
    .mb_auto{
        margin-bottom: 70px !important;
    }
    .mb_auto1{
        margin-bottom: 200px !important;
    }
    .img_fix{
        width: 330px;
        height: auto;
    }
    .cb_point{
        width: 320px;
    }
    .cb_chosse1{
        width: 320px;
    }
    .cb_chosse{
        width: 320px;
    }
    .cb_listSpeed{
        width: 320px;
    }
    .cb_listSpeed1{
        width: 320px;
    }
    .bg_custom12{
        max-width: 320px;
        width: 100%;
    }
    
}